In [ ]:
import pymongo 
from pymongo import MongoClient
import json
import pandas as pd
!pip install dnspython

In [ ]:
client=pymongo.MongoClient("mongodb://localhost:27017")
mydbs=client["students"]
col=mydbs["students record"]
df=open("Students.json","r")
coll=[]
for i in df:
    x=json.loads(i)
    coll.append(x)
col.insert_many(coll)
#Find the student name who scored maximum scores in all (exam, quiz and homework)

In [280]:
Exam_scores=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$group":{"_id":"null","Max_marks":{"$max":"$scores.score"}}}])
Max_marks=0
for i in Exam_scores:
    Max_marks=i["Max_marks"]
Max=col.find({"scores.score":Max_marks},{"_id":1,"name":1})
for i in Max:
    Name=i["name"]
    print(f'The student who scored  maximum marks {Max_marks}in Exam is {Name} ')
    
    
Quiz=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$group":{"_id":"null","Max_marks":{"$max":"$scores.score"}}}])
quiz_max=0
for i in Quiz:
    quiz_max=i["Max_marks"]
quiz1=col.find({"scores.score":quiz_max},{"_id":1,"name":1})
for i in quiz1:
    Name=i["name"]
    print(f'The student who got maximum mark of {quiz_max} in Quiz is {Name}')
Hw=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$group":{"_id":"null","Max_marks":{"$max":"$scores.score"}}}])
Hw_max=0   
for i in Hw:
    Hw_max=i["Max_marks"]
home_work=col.find({"scores.score":Hw_max},{"_id":1,"name":1})
for i in home_work:
    Name=i["name"] 
    print(f'The student who got maximum mark of {Hw_max} in Homework is {Name}')

The student who scored  maximum marks 99.33685767140612in Exam is Margart Vitello
The student who got maximum mark of 99.80348240553108 in Quiz is Cody Strouth
The student who got maximum mark of 99.77237745070993 in Homework is Whitley Fears

In [281]:
#Find students who scored below average in the exam and pass mark is 40%
Avg_mark=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$group":{"_id":"$name","Avg_avg":{"$avg":"$scores.score"}}}])
avg_mark=0
for i in Avg_mark:
    avg_mark=i["Avg_avg"]
Below_avg=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$match":{"scores.score":{"$lt":avg_mark}}}])
for i in Below_avg:
    print(i["name"])

aimee Zank
Jenette Flanders
Daphne Zheng
Alix Sherrill
Dodie Staller
Fletcher Mcconnell
Tressa Schwing
Jonie Raby
Edgar Sarkis
Laureen Salomone
Kaila Deibler
Tandra Meadows
Carli Belvins
Synthia Labelle
Richelle Siemers
Mariette Batdorf
Aleida Elsass
Ernestine Macfarland
Terica Brugger
Lady Lefevers
Barbera Lippman
Alica Pasley
Malisa Jeanes
Danika Loeffler
Chad Rahe
Joaquina Arbuckle
Dusti Lemmond
Rubie Winton
Kim Xu
Jenise Mcguffie
Cody Strouth
Harriett Velarde
Leola Lundin
Len Treiber
Echo Pippins
Santiago Dollins
Tonisha Games
Brain Lachapelle
Toshiko Sabella
Ty Barbieri
Ta Sikorski
Lucinda Vanderburg
Darby Wass
Omar Bowdoin
Tania Hulett
Karry Petrarca
Flora Duell
aimee Zank
Aurelia Menendez
Bao Ziglar
Jenette Flanders
Salena Olmos
Sanda Ryba
Denisha Cast
Quincy Danaher
Fletcher Mcconnell
Verdell Sowinski
Gisela Levin
Rosana Vales
Tamika Schildgen
Jesusa Rickenbacker
Rudolph Domingo
Jonie Raby
Laureen Salomone
Kaila Deibler
Tandra Meadows
Gwen Honig
Sadie Jernigan
Synthia Labelle
Aleida Elsass
Ernestine Macfarland
Kurtis Jiles
Barbera Lippman
Dinah Sauve
Alica Pasley
Elizabet Kleine
Malisa Jeanes
Joel Rueter
Joaquina Arbuckle
Grady Zemke
Rubie Winton
Whitley Fears
Kim Xu
Merissa Mann
Cody Strouth
Harriett Velarde
Leonida Lafond
Devorah Smartt
Len Treiber
Echo Pippins
Tonisha Games
Timothy Harrod

In [ ]:
# Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.


Result=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$match":{"scores.score":{"$lt":40}}}])
for i in Result:

    col.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Exam":"Fail"}})

Result=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$match":{"scores.score":{"$gt":40}}}])
for i in Result:
    col.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Exam":"Pass"}})
    
Result=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$match":{"scores.score":{"$lt":40}}}])
for i in Result:
    col.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Quiz":"Fail"}})
    
Result=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$match":{"scores.score":{"$gt":40}}}])
for i in Result:
    col.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Quiz":"Pass"}})
    
Result=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$match":{"scores.score":{"$lt":40}}}])
for i in Result:
    col.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Hw":"Fail"}})
    
Result=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$match":{"scores.score":{"$gt":40}}}])
for i in Result:
     col.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Hw":"Pass"}})

In [ ]:
#Find the total and average of the exam, quiz and homework and store them in a separate collection.
#1.totall
Total_sum=mydbs["Total_types"]

Exam=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$group":{"_id":"null","total_exam":{"$sum":"$scores.score"}}}])
for i in Exam:
    Exam_total=i["total_exam"]
Quiz=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$group":{"_id":"null","total_quiz":{"$sum":"$scores.score"}}}])
for i in Quiz:
    Quiz_total=i["total_quiz"]
Hw=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$group":{"_id":"null","total_Hw":{"$sum":"$scores.score"}}}])
for i in Hw:
    Hw_total=i["total_Hw"]
Total=[{"Type":"Exams","Total":Exam_total},{"Type":"Quizs","Total":Quiz_total},{"Type":"Home work","Homework":Hw_total}]
Total_sum.insert_many(Total)

In [ ]:
#.2 average
Total_avg=mydbs["Average_of_types"]

Exam=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$group":{"_id":"null","total_exam":{"$avg":"$scores.score"}}}])
for i in Exam:
    Exam_Avg=i["total_exam"]
Quiz=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$group":{"_id":"null","total_quiz":{"$avg":"$scores.score"}}}])
for i in Quiz:
    Quiz_Avg=i["total_quiz"]
Hw=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$group":{"_id":"null","total_Hw":{"$avg":"$scores.score"}}}])
for i in Hw:
    Hw_Avg=i["total_Hw"]
Total_1=[{"Type":"Exams","Total":Exam_Avg},{"Type":"Quizs","Total":Quiz_Avg},{"Type":"Home work","Homework":Hw_Avg}]
Total_avg.insert_many(Total_1)

In [ ]:
# Create a new collection which consists of students who scored below average and above 40% in all the categories.
below=mydbs["Above&below_avg"]
below_avg_Exam=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$match":{"scores.score":{"$gt":40,"$lt":Exam_Avg}}}])
    
for i in below_avg_Exam:
    Name=i["name"]
    Type=i["scores"]["type"]
    below.insert_one({"Name":Name,"Type":Type})

below_avg_Quiz=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$match":{"scores.score":{"$gt":40,"$lt":Quiz_Avg}}}])
    
for i in below_avg_Quiz:
    Name=i["name"]
    Type=i["scores"]["type"]
    below.insert_one({"Name":Name,"Type":Type})


below_avg_Hw=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$match":{"scores.score":{"$gt":40,"$lt":Hw_Avg}}}])
    
for i in below_avg_Hw:
    Name=i["name"]
    Type=i["scores"]["type"]
    below.insert_one({"Name":Name,"Type":Type})

In [ ]:
#  Create a new collection which consists of students who scored below the fail mark in all the categories.
All_Fail=mydbs["All_Fail"]
     

Fail=col.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$unwind":"$Result"},{"$match":{"Result.Result_Exam":"Fail"}},
                    {"$match":{"Result.Result_Quiz":"Fail"}},{"$match":{"Result.Result_Hw":"Fail"}}])
for i in Fail:
    
    Name=i["name"]
    All_Fail.insert_one({'Name':Name})

In [ ]:
# Create a new collection which consists of students who scored above pass mark in all the categories.
All_Pass=mydbs["All_pass"]
Pass=col.aggregate([{"$unwind":"$scores"},{"$unwind":"$Result"},{"$match":{"scores.type":"exam"}},{"$match":{"Result.Result_Exam":"Pass"}},
                    {"$match":{"scores.type":"quiz"}},{"$match":{"Result.Result_Quiz":"pass"}},
                   {"$match":{"scores.type":"homework"}},{"$match":{"Result.Result_Quiz":"pass"}}])


for i in Pass:
    Name=i["name"]
    All_Pass.insert_one(Name)